/* Header Section */

header {
	background-color: #281892;
	border-bottom: 10px solid #0d0254;
}

.header-content {
	padding-top: 5%;
}

.header-text {
	color: white;
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
}

.selfie {
	height: auto;
	min-width: 150px;
	max-width: 250px;
	width: 20%;
	display: block;
	margin: auto;
	border-radius: 20%;
	border: 2px solid black;
}

/* Projects Section */

.projects {
	padding-bottom: 10px;
	border-bottom: 1px solid #0d0254;
}

.projects p{
	margin-top: 10px;
}

.projects img {
	width: 100%;
	padding: 0;
}

.projects-h2 {
	border-bottom: 3px solid #0d0254;
	padding: 10px 0 5px;
	margin: 10px auto;
	display: block;
	width: 20%;
}

.project1 {
	list-style-position: inside;
}

.project2 {
	padding-bottom: 40px;
}

.project3 {
	padding-bottom: 21px;
}

.project3 ul {
	list-style: none;
}


/* About Me Section */

.aboutme {
	margin: 30px 20px;
	padding: 10%;
	text-align: center;
	color: white;
	border-radius: 5% 0 5% 0;
	border-top: 5px solid #281892;
	border-right: 5px solid #0d0254;
	border-bottom: 5px solid #281892;
	border-left: 5px solid #0d0254;
	background-image: url(../img/emeryfamily.jpg);
	background-size: cover;
	box-shadow: inset 0 0 50px 250px rgba(0,0,0, .5);
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
}


/* Footer Section */

footer {
	border-top: 10px solid #0d0254;
	border-bottom: 10px solid #0d0254;
	background-color: #281892;
}

footer img {
	margin: 0 5px 9px;
	width: 32px;
	height: 32px;
}

footer img:hover {
	-webkit-box-shadow: -8px 13px 22px -6px rgba(0,0,0,1);
	-moz-box-shadow: -8px 13px 22px -6px rgba(0,0,0,1);
	box-shadow: -8px 13px 22px -6px rgba(0,0,0,1);
}

.footer-center {
	text-align: center;
	color: white;
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
}

/* Media Queries */
@media (max-width: 700px) {
	h1 {
		font-size: 27px;
	}

	h2 {
		font-size: 22.5px;
	}

	h3 {
		font-size: 18px;
	}

	p {
		font-size: 12px;
	}
}
