header {
	background-color: #281892;
	border-bottom: 10px solid #0d0254;
}

footer {
	border-top: 10px solid #0d0254;
	border-bottom: 10px solid #0d0254;
	background-color: #5854d6;
}

.header-content {
	padding-top: 5%;
}

.selfie {
	height: auto;
	max-width: 250px;
	width: 25%;
	display: block;
	margin: auto;
	border-radius: 20%;
	border: 2px solid black;
}

.header-text {
	color: white;
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
}

footer img {
	margin: 0 5px 9px;
	width: 32px;
	height: 32px;
}

footer img:hover {
	-webkit-box-shadow: -8px 13px 22px -6px rgba(0,0,0,1);
	-moz-box-shadow: -8px 13px 22px -6px rgba(0,0,0,1);
	box-shadow: -8px 13px 22px -6px rgba(0,0,0,1);
}

.footer-center {
	text-align: center;
	color: white;
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
}